<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
</head>
<body>
    <h1>Lista de Productos</h1>

    <ul>
    {{#each products}}
        <li>{{this.title}} - ${{this.price}}
        <button onclick="addToCart('{{this._id}}')">Agregar al carrito</button>
        </li>
    {{/each}}
    </ul>

    <!-- Enlace o botón para ir al carrito -->

    <a href="/cart">
        <button>Ver Carrito</button>
    </a>
        

    <div style="padding-top: 10px;">
        {{#if hasPrevPage}}
            <a href="{{prevLink}}&query={{query}}&category={{category}}">Anterior</a>
        {{/if}}
        {{#if hasNextPage}}
            <a href="{{nextLink}}&query={{query}}&category={{category}}">Siguiente</a>
        {{/if}}
    </div>

    <script>
        function addToCart(productId) {
            const cartId = "anonimo"; // Asegúrate de que cartId esté disponible en el script

            if (!cartId) {
                console.error('No se encontró el cartId');
                return;
            }

            fetch(`/api/carts/${cartId}/product/${productId}`, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ quantity: 1 }) // Puedes ajustar la cantidad según sea necesario
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Error al agregar el producto');
                }
                return response.json();
            })
            .then(data => {
                console.log('Producto agregado al carrito', data);
            })
            .catch(error => {
                console.error('Error al agregar el producto:', error);
            });
        }
    </script>
</body>
</html>